<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="./vendor/autoload.php" colors="true" timeoutForSmallTests="1" timeoutForMediumTests="3" timeoutForLargeTests="5" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="build/coverage.xml"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
